@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
    /* PRIMARY */
    --blue: hsl(246, 80%, 60%);

    --light-red: hsl(15, 100%, 70%); /* WORK */
    --soft-blue: hsl(195, 74%, 62%); /* PLAY */
    --light-red-secondary: hsl(348, 100%, 68%); /* STUDY */
    --lime-green: hsl(145, 58%, 55%); /* EXERCISE */
    --violet: hsl(264, 64%, 52%); /* SOCIAL */
    --soft-orange: hsl(43, 84%, 65%); /* SELF-CARE */

    /* NEUTRAL */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desat-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

body {
    background: var(--very-dark-blue);
    min-height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
}

#dashboard-container {
    height: auto;
    width: 70%;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 500px) {

    #dashboard-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

}

/* USER CARD */

#owner {
    background: var(--dark-blue);
    border-radius: 1.5rem;
}

#owner-header {
    background: var(--blue);
    color: white;
    display: flex;
    padding: 2rem;
    border-radius: 1.8rem;
}

.owner-name {
    align-self: center;
    font-weight: normal;
    padding: 1rem;
}

#owner-img {
    width: 5rem;
    border: 2px solid white;
    border-radius: 50%;
}

.options {
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.opt-btn {
    border: none;
    background-color: var(--dark-blue);
    color: var(--desat-blue)
}

.opt-btn:hover {
    color: #fff;
}

.opt-btn:focus {
    color: #fff;
}

@media screen and (min-width: 500px) {

    #owner {
        grid-row: 1/3;
    }

    #owner-header {
      flex-direction: column;
      padding: 7rem;    }

    .options {
        flex-direction: column;
        align-items: flex-start;
    }

    .opt-btn {
        padding: 1rem;
    }

    .owner-name h2 {
        font-size: 3rem;
        padding: 1rem;
        font-weight: 100;
    }

    .owner-name h4 {
        font-size: 1.5rem;
        padding: 1.5rem;
        font-weight: 100;

    }

    #owner-img {
        width: 7rem;
        border: 2px solid white;
        border-radius: 50%;
    }

}

/* DISPLAY CARDS */

.card-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    position: relative;
}

.card-information {
    background: var(--dark-blue);
    padding: 2rem;
    z-index: 5;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-top: auto;
    border-radius: 1.3rem;
    height: 80%;
}

.card-information:hover {
    background: hsl(235, 33%, 50%);
}

.icon {
    margin-left: 75%;
    width: 5rem;
    position: absolute;
}

.card-background {
    z-index: 1;
}

.card-header, .hours-displays {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.hours-displays {
    flex-direction: column;
}

.time-frame {
    font-size: 4rem;
    font-weight: 300;
}

.time-duration {
    color: var(--desat-blue);
    margin: 1rem;
    margin-left: 0;
}

#work {
    background: var(--light-red);
}

#play {
    background-color: var(--soft-blue);
}

#study {
    background: var(--light-red-secondary);
}

#exercise {
    background: var(--lime-green);
}

#social {
    background: var(--violet);
}

#self-care {
    background: var(--soft-orange);
}